version: "3.9"

services:
  db:
    image: postgres:16
    container_name: notes-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notesdb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: notes-api
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db          # must match service name above
      DB_PORT: "5432"
      DB_NAME: notesdb
    ports:
      - "8000:8000"
    networks:
      - public_net
      - internal_net

networks:
  public_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
          gateway: 172.30.0.1
  internal_net:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 172.40.0.0/24
   

volumes:
  db_data: